[user]
        name = nekwebdev
        email = nekwebdev@users.noreply.github.com
        signingkey = ~/.ssh/arch-lotus.pub
[gpg]
        format = ssh
[core]
        pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
        diffFilter = diff-so-fancy --patch